# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Executables
*.out
*.app

# Toolchain ESP32 and tools	
/esp32/tools/xtensa-esp32-elf/*
/esp32/tools/dist/*
/esp32/tools/mkspiffs/*


#SO shit
.DS_Store
